In [1]:
import numpy as np
import pandas as pd

In [2]:
from datetime import datetime

In [3]:
my_year = 2023
my_month = 10
my_day = 29
my_hour = 14
my_min = 25
my_sec = 50

In [4]:
my_date = datetime(my_year,my_month,my_day)
my_date

datetime.datetime(2023, 10, 29, 0, 0)

In [5]:
my_datetime = datetime(my_year,my_month,my_day,my_hour,my_min,my_sec)
my_datetime

datetime.datetime(2023, 10, 29, 14, 25, 50)

In [7]:
my_serise = pd.Series(['Nov-03-2019', '2020-01-12', None])
my_serise

0    Nov-03-2019
1     2020-01-12
2           None
dtype: object

In [10]:
my_serise = pd.to_datetime(my_serise)
my_serise

0   2019-11-03
1   2020-01-12
2          NaT
dtype: datetime64[ns]

In [28]:
pd.to_datetime("10-12-2000", dayfirst= True)

Timestamp('2000-12-10 00:00:00')

In [37]:
style_date = '11--DEC--2014'

In [38]:
pd.to_datetime(style_date,format = '%d--%b--%Y')

Timestamp('2014-12-11 00:00:00')

In [40]:
sale = pd.read_csv('Datasets/RetailSales_BeerWineLiquor.csv')

In [42]:
sale.head()

         DATE  MRTSSM4453USN
0  1992-01-01           1509
1  1992-02-01           1541
2  1992-03-01           1597
3  1992-04-01           1675
4  1992-05-01           1822

In [43]:
sale['DATE']

0      1992-01-01
1      1992-02-01
2      1992-03-01
3      1992-04-01
4      1992-05-01
          ...
335    2019-12-01
336    2020-01-01
337    2020-02-01
338    2020-03-01
339    2020-04-01
Name: DATE, Length: 340, dtype: object

In [45]:
sale['DATE'] = pd.to_datetime(sale['DATE'])
sale['DATE']

0     1992-01-01
1     1992-02-01
2     1992-03-01
3     1992-04-01
4     1992-05-01
         ...
335   2019-12-01
336   2020-01-01
337   2020-02-01
338   2020-03-01
339   2020-04-01
Name: DATE, Length: 340, dtype: datetime64[ns]

In [50]:
sale_dated = pd.read_csv('Datasets/RetailSales_BeerWineLiquor.csv',parse_dates=[0])
sale_dated['DATE']

0     1992-01-01
1     1992-02-01
2     1992-03-01
3     1992-04-01
4     1992-05-01
         ...
335   2019-12-01
336   2020-01-01
337   2020-02-01
338   2020-03-01
339   2020-04-01
Name: DATE, Length: 340, dtype: datetime64[ns]

In [51]:
sale

          DATE  MRTSSM4453USN
0   1992-01-01           1509
1   1992-02-01           1541
2   1992-03-01           1597
3   1992-04-01           1675
4   1992-05-01           1822
..         ...            ...
335 2019-12-01           6630
336 2020-01-01           4388
337 2020-02-01           4533
338 2020-03-01           5562
339 2020-04-01           5207

[340 rows x 2 columns]

In [64]:
sale_dated.set_index('DATE')

            MRTSSM4453USN
DATE
1992-01-01           1509
1992-02-01           1541
1992-03-01           1597
1992-04-01           1675
1992-05-01           1822
...                   ...
2019-12-01           6630
2020-01-01           4388
2020-02-01           4533
2020-03-01           5562
2020-04-01           5207

[340 rows x 1 columns]

In [65]:
ind = sale_dated.index

In [67]:
sale_dated.resample(rule='A') # comme un groupe BY

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'RangeIndex'

In [73]:
sale['DATE'].dt.year

0      1992
1      1992
2      1992
3      1992
4      1992
       ...
335    2019
336    2020
337    2020
338    2020
339    2020
Name: DATE, Length: 340, dtype: int64